body {
	margin: 60px auto;
	font-family: Arial, Helvetica, sans-serif;
	background: #050505;
	color: #eaeaea;
	max-width: 730px;
	padding: 0 20px;
}
.navbar {
	display: flex;
	justify-content: space-between;
	padding: 20px 60px;
	background: #070707;
       border-bottom: 1px solid #1b1b1b;	
}
.logo {
	color: #a855f7;
	font-weight: bold;
}
.nav-links a {
  margin-left: 20px;
  color: #aaa;
  text-decoration: none;
}
.nav-links a:hover {
	color: white;
}
.hero {
	text-align: center;
	padding: 120px 20px;
}
.hero span {
	color: #a855f7;
}
.hero-buttons {
	margin-top: 25px
}
h1 {
  font-size: 32px;
  margin-bottom: 8px;
}
h2 {
  font-size: 22px;
  margin-top: 48px;
  margin-bottom: 16px;
}
h3 {
  font-size: 18px;
  margin-top: 24px;
  margin-bottom: 8px;
}
p {
  margin-bottom: 16px;

}
ul {
  margin-left: 20px;
  margin-bottom: 16px;
}
li {
  margin-bottom: 6px;
}
.btn {
	padding: 12px 22px;
	border-radius: 25px;
	text-decoration: none;
	margin: 5px;
	display: inline-block;
}
.primary {
	background: linear-gradient(45deg, #7c3aed, #a855f7);
	color: white;
}
.outline {
	border: 1px solid #7c3aed;
	color: #a855f7;
}
.card-section {}
.project-grid {}
.project-card {}
.project-card:hover {}
footer {
	margin-top: 60px;
	text-align: center;
	font-size: 14px;
	color: #666;
	padding: 30px;
	border-top: 1px solid #1b1b1b;
}
